<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/techproed/IdeaProjects/testNGProject/src/test/java/techproed/tests/smoketest">
        <classes>
            <class name="techproed.tests.smoketest.logintests.Day18_PositiveLoginTest">
                <methods>
                    <include name="US100201_Admin_Login"/>
                </methods>
            </class>
            <class name="techproed.tests.smoketest.logintests.Day19_NegativeLoginTest">
                <methods>
                    <include name="US100208_Negative_Login"/>
                    <include name="invalidCredsTest"/>
                </methods>
            </class>
            <class name="techproed.tests.smoketest.reservationtests.Day19_ReservationTest">
                <methods>
                    <include name="reservationTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

<!--
    xml dosyası oluşturmak için, proje isminin üzerine gel, sağ tıkla, xml dosyasının adını yaz ve .xml ekle,
    verbose demek konsolda gösterilen bilgi demek, verbose=1 az bilgi ver, verbose=2 daha çok bilgi ver demek,
    Genelde verbose=1 kullanılır.
    Her değişiklikten sonra xml dosyasını mutlaka save yap.
    Save den sonra xml dosyasını run yap.
    xml dosyası bize esneklik sağlar çünkü istediğimiz test methodlarını include veya istemediklerimizi exclude yapabiliriz.
    Include ve exclude seçenekleri sadece methodlar için geçerli, diğerlerinde zaten gerekli de değil.
    Grup oluşturacaksak gruba dahil edeceğimiz testlerin yanına (groups= group adı)  yazmalıyız.
    Gruba dahil edilecek testler farklı package lerden de olabilir.
-->